<!DOCTYPE html>
<html lang="zxx">

<head>

	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="aonetheme">
    <meta name="robots" content="">    
    <meta name="description" content="Tranel Travel Tour Website">
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    
    <!-- PAGE TITLE HERE -->
    <title>Tranel | Destination detail 1</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
    
	<!-- BOOTSTRAP STYLE SHEET -->
	<link  href="css/bootstrap.min.css" rel="stylesheet">
	<!-- FONTAWESOME STYLE SHEET -->
	<link  href="css/font-awesome.min.css" rel="stylesheet">
	<!-- Feather STYLE SHEET -->
	<link href="css/feather.css" rel="stylesheet">
	<!-- FLATICON STYLE SHEET -->
	<link href="css/flaticon.min.css" rel="stylesheet">
	<!-- WOW ANIMATE STYLE SHEET -->
	<link href="css/animate.css" rel="stylesheet">
	<!-- OWL CAROUSEL STYLE SHEET -->
	<link href="css/owl.carousel.min.css" rel="stylesheet">
	<!-- MAGNIFIC POPUP STYLE SHEET -->
	<link href="css/magnific-popup.min.css" rel="stylesheet">
	<!-- DATE PICKER STYLE SHEET -->
	<link href="css/date-picker.css" rel="stylesheet">     
	<!-- LC LIGHT BOX STYLE SHEET -->
	<link href="css/lc_lightbox.css" rel="stylesheet">    
	<!-- MAIN STYLE SHEET -->
	<link href="css/style.css" rel="stylesheet">

</head>

<body>
    
    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="loading">
				<span>Loading</span>
			</div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->
    
	<div class="page-wraper">
     
        <!-- HEADER START -->
        <header class="site-header header-style-2 mobile-sider-drawer-menu">
			<!--Top bar section End-->
            <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                <div class="main-bar">  
                                    
                    <div class="container clearfix"> 
                        <!--Logo section start-->
                        <div class="logo-header">
                            <div class="logo-header-inner logo-header-one">
                                <a href="index.html">
                                    <img  src="images/logo.png" alt="">
                                </a>
                            </div>
                        </div>  
                        <!--Logo section End-->

                        <!-- NAV Toggle Button -->
                        <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar icon-bar-first"></span>
                            <span class="icon-bar icon-bar-two"></span>
                            <span class="icon-bar icon-bar-three"></span>
                        </button> 

                        <!-- MAIN Nav -->
                        <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">
                            
                            <ul class=" nav navbar-nav">
                                <li class="has-child current-menu-item"><a href="javascript:;">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
                                    </ul>
                                </li>
                                <li class="has-child"><a href="javascript:;">Pages</a>
									<ul class="sub-menu">
                                        <li><a href="about-1.html">About Us</a></li>
										<li><a href="team-page.html">Team</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
										<li><a href="our-service.html">Our Service</a></li>
										<li><a href="tour-list.html">Tour List</a></li>
										<li><a href="tour-list-left-sidebar.html">Tour List Sidebar</a></li>
										<li><a href="tour-grid.html">Tour Grid</a></li>
										<li><a href="tour-grid-sidebar.html">Tour Grid Sidebar</a></li>
										<li><a href="tour-sidebar-detail.html">Tour Sidebar Detail</a></li>
										<li><a href="booking-form.html">Booking Form</a></li>
										<li><a href="faq.html">FAQ</a></li>
                                    </ul> 
								</li>
                                <li class="has-child"><a href="javascript:;">Destinations</a>
									<ul class="sub-menu">
                                        <li><a href="destination-grid.html">Destinations Grid</a></li>
                                        <li><a href="destination-detail.html">Destinations Detail</a></li>
                                        <li><a href="destination-detail-sidebar.html">Destinations Detail Sidebar</a></li>                                        
                                    </ul> 
								</li>
                                <li class="has-child"><a href="javascript:;">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-grid.html">Blog grid</a></li>
                                        <li><a href="blog-grid-sidebar.html">Blog grid sidebar</a></li>                                         
                                        <li><a href="blog-single.html">Blog Single</a></li>                                        
                                    </ul>                                
                                </li>
                                <li><a href="contact.html">Contact us</a></li> 
                            </ul>

                        </div>
                        
                        <!-- Header Right Section-->
                        <div class="extra-nav header-2-nav">
                            <div class="extra-cell">

                                <!--Add Listing up-->                                
								<div class="login-sign-btn">
									<a href="#"><i class="feather-user"></i> Login</a> 
									<span>/</span>
									<a href="#">Register</a>
								</div> 
								<!--Sign up-->
                                <div class="site-search-btn">
                                    <a href="#" class="site-button aon-btn-search" >
                                        <i class="flaticon-020-search-1"></i>
                                    </a>
                                    <!-- SITE Search -->
                                    <div id="search"> 
                                        <span class="aon-seach-close"></span>
                                        <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                                            <input class="form-control" value="" name="q" type="search" placeholder="Type to search">
                                            <span class="input-group-append">
                                                <button type="button" class="search-btn">
                                                    <i class="feather-search"></i>
                                                </button>
                                            </span>
                                        </form>
                                    </div> 
                                </div>
                          	</div>
                        </div>                            
                    </div>    
                
                </div>
            </div>
        </header>
        <!-- HEADER END -->


    
        <!-- CONTENT START -->
        <div class="page-content">

		<!-- Banner Area -->
		<div class="aon-page-banner-area2">
			<div class="aon-page-banner-row2">
				<div class="container aon-page-banner-container2">
					<div class="aon-page-banner-title2">Sylhet</div>
				</div>
			</div>
		</div>
		<!-- Banner Area End -->
            
       
        <div class="aon-destination-detail-wrap p-t120 p-b210 aon-bg-white">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9 col-md-12">

                        <div class="aon-destination-detail-content">
                            <div class="aon-destination-head">
                                <div class="aon-pop-rating2 aon-wc-bg-orange"><i class="fa fa-star"></i> 4.5</div>
                                <h2 class="aon-destination-title m-b15">Dhaka to Cox's Bazar Tour with Air Ticket.</h2>
                                <div class="tour-detail-price-address">
                                    <span class="aon-destination-location"><i class="feather-map-pin  aon-text-gradi"></i>Algiers, Algeria</span>
                                    <div class="aon-pop2-to-pri-col">
                                        <div class="aon-pop2-tou-rate">
                                            <span>€590</span> / €690
                                        </div> 
                                        <div class="aon-pop2-tour-person">Per Person</div>
                                    </div>
                                </div>
                                <div class="aon-pop2-tour-pri-row2 tour-detail-offer-zone">
                                    <div class="aon-pop2-to-off-row">
                                        <div class="aon-pop2-to-pri-label">Offer Time -</div>
                                        <div class="aon-pop2-to-pri-time">
                                            <span class="aon-wc-bg-orange">02</span>:
                                            <span class="aon-wc-bg-orange">03</span>:
                                            <span class="aon-wc-bg-orange">26</span>:
                                            <span class="aon-wc-bg-orange">49</span>
                                        </div>
                                    </div>
                                    <div class="aon-pop2-to-pri-col">
                                        <span class="aon-pop2-tour-day">3 Day, 2 Night</span>
                                    </div>
                                </div>
                            </div>
                            <p class="full-detail-content">
                                Donec mollis ultrices orci, at tempus ipsum volutpat ac. Suspendisse placerat, orci vel venenatis viverra, nulla ex viverra libero, in vehicula sem neque sollicitudin urna. Nulla erat nibh, ultricies vel sollicitudin ut, laoreet quis turpis. Ut auctor viverra efficitur. Nunc at eros sit amet felis commodo aliquam sed at mauris. Integer imperdiet ultrices massa.
                            </p>

                            <p class="full-detail-content">
                                Vestibulum sem est, laoreet id nisl aliquam, vehicula pharetra lectus. Sed eu augue faucibus, vehicula neque nec, accumsan lectus. Sed tincidunt purus tortor, eget molestie ligula posuere nec. Sed sit amet dapibus purus. Aliquam ex diam, hendrerit ut tortor in, elementum pellentesque nibh. Morbi pulvinar non enim a placerat. Sed mi mauris.
                            </p>

                            <p class="full-detail-content">
                                Etiam eget erat varius massa cursus cursus. Pellentesque convallis ultrices faucibus. Phasellus sollicitudin eget enim nec ultrices. Cras at erat sit amet ipsum condimentum placerat ac ac arcu. Nullam eleifend et mauris ut porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus porta, felis eu tincidunt tempor.
                            </p>

                        </div>
                        <div class="aon-dydr-line"></div>


                        <div class="aon-detail-checked-list">
                            <h3 class="aon-title-mid">Included/Exclude</h3>
                            <p>Donec mollis ultrices orci, at tempus ipsum volutpat ac. Suspendisse placerat, orci vel venenatis viverra, nulla ex viverra libero, in vehicula sem neque sollicitudin urna. Nulla erat nibh, ultricies vel sollicitudin ut, laoreet quis turpis. Ut auctor viverra efficitur. Nunc at eros sit amet felis commodo aliquam sed at mauris. Integer imperdiet ultrices massa.</p>

                            <div class="aon-detail-checked-list-content">
                                <ul class="list-unstyled row m-b0">
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td11" name="abc" value="person" type="checkbox">
                                            <label for="td11">Available All Year</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td12" name="abc" value="person" type="checkbox">
                                            <label for="td12">Language English</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td13" name="abc" value="person" type="checkbox">
                                            <label for="td13">Duration 9-10 HRS</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td14" name="abc" value="person" type="checkbox">
                                            <label for="td14">Moderate</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td15" name="abc" value="person" type="checkbox">
                                            <label for="td15">Car Included</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td16" name="abc" value="person" type="checkbox">
                                            <label for="td16">Hotel Book</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td17" name="abc" value="person" type="checkbox">
                                            <label for="td17">15 People</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td18" name="abc" value="person" type="checkbox">
                                            <label for="td18">Flite Ticket</label>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6">
                                        <div class="checkbox sf-radio-checkbox">
                                            <input id="td19" name="abc" value="person" type="checkbox">
                                            <label for="td19">Minimum Age 10 Year Old</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="aon-dydr-line2 m-b50"></div>

                        <div class="aon-detail-checked-list">
                            <h3 class="aon-title-mid">Overview</h3>
                            <p>Donec mollis ultrices orci, at tempus ipsum volutpat ac. Suspendisse placerat, orci vel venenatis viverra, nulla ex viverra libero, in vehicula sem neque sollicitudin urna. Nulla erat nibh, ultricies vel sollicitudin ut, laoreet quis turpis. Ut auctor viverra efficitur. Nunc at eros sit amet felis commodo aliquam sed at mauris. Integer imperdiet ultrices massa.</p>

                            <div class="aon-bd-mid">
                                <blockquote class="bd-blockquote2">
                                    <div class="media">
                                        <img src="images/testimonials/img1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <span class="quoter">Bentin Ali Benilmal</span>
                                        <p>
                                            Fusce sodales egestas neque pulvinar enim ultrdicies atsa. Vivamus vitae conse ejkpolit. Praesent lacindsia tincidudnt variuss Vestibulum ante thfe ipsum innusant.
                                        </p>
                                    </div>
                                </blockquote>
                            </div>

                            <p>Donec mollis ultrices orci, at tempus ipsum volutpat ac. Suspendisse placerat, orci vel venenatis viverra, nulla ex viverra libero, in vehicula sem neque sollicitudin urna. Nulla erat nibh, ultricies vel sollicitudin ut, laoreet quis turpis. Ut auctor viverra efficitur. Nunc at eros sit amet felis commodo aliquam sed at mauris. Integer imperdiet ultrices massa.</p>
                        </div>

                        <div class="aon-dydr-line2 m-t30 m-b50"></div>
                        
                        <div class="aon-tour-map-section ">
                            <h3 class="aon-title-mid">Tour Map And Itinerary</h3>
                            <!-- Detail SECTION START -->
                            <div class="aon-tour-maps">
                                <ul class="nav nav-pills mb-3 aon-tabs-style1"  role="tablist">
                                    <li class="nav-item">
                                        <div class="nav-link active" data-bs-toggle="pill" data-bs-target="#day_1">
                                            <h5 class="tb-title">Day 01</h5>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="nav-link" data-bs-toggle="pill" data-bs-target="#day_2">
                                            <h5 class="tb-title">Day 02</h5>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="nav-link" data-bs-toggle="pill" data-bs-target="#day_3">
                                            <h5 class="tb-title">Day 03</h5>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="nav-link" data-bs-toggle="pill" data-bs-target="#day_4">
                                            <h5 class="tb-title">Day 04</h5>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="nav-link" data-bs-toggle="pill" data-bs-target="#day_5">
                                            <h5 class="tb-title">Day 05</h5>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!--1-->
                                    <div class="tab-pane fade show active" id="day_1" role="tabpanel" >
                                        <div class="aon-tab-inner">
                                        <div class="aon-map-pic">
                                            <img src="images/map-images2/map-1.jpg" alt="#">
                                        </div>
                                        </div>
                                    </div>
                                    <!--2-->
                                    <div class="tab-pane fade" id="day_2" role="tabpanel">
                                        <div class="aon-tab-inner">
                                            <div class="aon-map-pic">
                                                <img src="images/map-images2/map-2.jpg" alt="#">
                                            </div>
                                        </div>
                                    </div>
                                    <!--3-->
                                    <div class="tab-pane fade" id="day_3" role="tabpanel">
                                        <div class="aon-tab-inner">
                                            <div class="aon-map-pic">
                                                <img src="images/map-images2/map-3.jpg" alt="#">
                                            </div>
                                        </div>
                                    </div>
                                    <!--4-->
                                    <div class="tab-pane fade" id="day_4" role="tabpanel">
                                        <div class="aon-tab-inner">
                                            <div class="aon-map-pic">
                                                <img src="images/map-images2/map-4.jpg" alt="#">
                                            </div>
                                        </div>
                                    </div>
                                    <!--5-->
                                    <div class="tab-pane fade" id="day_5" role="tabpanel">
                                        <div class="aon-tab-inner">
                                            <div class="aon-map-pic">
                                                <img src="images/map-images2/map-5.jpg" alt="#">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <!-- Detail SECTION END -->
                            
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-12 rightSidebar">
                        <div class="aon-side_bar">
                            <div class="aon-search-list-bar-wrap m-b30">
                                <div class="aon-search-list-bar-row">
                                    <h3 class="aon-title">Book Tour</h3>
									
                                    <div class="aon-search-list-bar-col">
										<div class="aon-inputicon-box"> 
											<select class="form-select" aria-label="Default select example">
												<option>Destination</option>
												<option>India</option>
												<option>Japan</option>
												<option>US</option>
											  </select>
											<i class="aon-text-gradi aon-input-icon feather-map-pin"></i>
										</div>
                                    </div>
									
                                    <div class="aon-search-list-bar-col">
                                        <input type="text" name="fullname" placeholder=" Check In" class="form-control  form-no-bg datepicker" required="">
                                    </div>
                                    <div class="aon-search-list-bar-col">
                                        <input type="text" name="fullname" placeholder=" Check Out" class="form-control  form-no-bg datepicker" required="">
                                    </div>
                                    <div class="aon-search-list-bar-col">
                                        <select class="form-select outline-style1" aria-label="Default select example">
                                            <option>Adult</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                            <option>US</option>
                                          </select>
                                    </div>
                                    <div class="aon-search-list-bar-col">
                                        <select class="form-select outline-style1" aria-label="Default select example">
                                            <option>Children</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                            <option>US</option>
                                          </select>
                                    </div>

                                    <div class="aon-search-list-bar-col center">
                                        <button type="submit" class="site-button site-button-search"><i class="flaticon-030-arrow"></i></button>
                                    </div>

                                </div>	
                            </div>

                            <div class="aone-category-style-1 m-b30">

                                <div class="aone-category-style-1-content">
                                    <h4 class="aon-title">Category</h4>
                                    <ul class="list-unstyled">

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="td111" name="abc" value="person" type="checkbox">
                                                <label for="td111">Agritourism <span>(12)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="td122" name="abc" value="person" type="checkbox">
                                                <label for="td122">City Tour <span>(16)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="td133" name="abc" value="person" type="checkbox">
                                                <label for="td133">Culinary <span>(16)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="td144" name="abc" value="person" type="checkbox">
                                                <label for="td144">Cultural <span>(06)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="td155" name="abc" value="person" type="checkbox">
                                                <label for="td155">Agritourism <span>(12)</span></label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <div class="aone-category-style-1-content">
                                    <h4 class="aon-title">Destinations</h4>
                                    <ul class="list-unstyled">

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="de11" name="abc" value="person" type="checkbox">
                                                <label for="de11">Afghanistan <span>(02)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="de12" name="abc" value="person" type="checkbox">
                                                <label for="de12">Albania Tirana <span>(06)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="de13" name="abc" value="person" type="checkbox">
                                                <label for="de13">Algeria <span>(05)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="de14" name="abc" value="person" type="checkbox">
                                                <label for="de14">Andorra <span>(04)</span></label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="de15" name="abc" value="person" type="checkbox">
                                                <label for="de15">Angola Luanda  <span>(16)</span></label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <div class="aone-category-style-1-content">
                                    <h4 class="aon-title">Price</h4>
                                    <ul class="list-unstyled">

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="pr11" name="abc" value="person" type="checkbox">
                                                <label for="pr11">Low To Height</label>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="checkbox sf-radio-checkbox">
                                                <input id="pr12" name="abc" value="person" type="checkbox">
                                                <label for="pr12">Height To Low</label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                            <div class="aone-advertisment-warp">
                                <div class="aone-advertisment-media">
                                    <a href="javascript:;">
                                        <img src="images/ad-1.jpg" alt="advertisment">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
            
           
        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
		<footer class="site-footer" style="background-image: url(images/bg/footer-bg.jpg)">
			<div class="container">
				<div class="aon-ftr-newsletter">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="ftr-nws-l-title"> Have Any Help to Newsletter.</div>
							
						</div>
						<div class="col-lg-6 col-md-6">
							<form>
								<div class="aon-news-form-2">
									<input type="text" class="form-control" placeholder="Enter Your Email...">
									<button type="submit" class="aon-news-btn-2 gradi-1"><i class="feather-corner-down-left"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<!-- FOOTER BLOCKES START -->  
			<div class="footer-top-2">
				<div class="container">
					<div class="row">
						<!-- COLUMNS 1 -->
						<div class="col-lg-3 col-md-6">
							<div class="sf-widget-link f-margin">
								<div class="aon-footer-logo-2"><img src="images/bg/ftr-logo.png" alt="Image"></div>
								<div class="aon-footer-text-2">Nunc tempus orci sit amet sapien cursus 
									hendrerit. Phasellus dignissim velit eget 
									arcu blandit tristique. Aenean lacinia at 
									leo ac viverra. Duis finibus.
									Tranel.
								</div>
								<ul class="aon-social-icon-2 d-flex">
									<li><a href="javascript:void(0);"><i class="feather-facebook"></i></a></li>
									<li><a href="javascript:void(0);"><i class="feather-twitter"></i></a></li>
									<li><a href="javascript:void(0);"><i class="feather-linkedin"></i></a></li>
									<li><a href="javascript:void(0);"><i class="feather-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- COLUMNS 2 -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="aon-widget-link f-margin f-top-margin">
								<h4 class="aon-f-title-2">Companey</h4>
								<ul class="aon-widget-foo-list-2">
									<li><a href="about-1.html">Help Center</a></li>
									<li><a href="about-1.html">Report Spam</a></li>
									<li><a href="about-1.html">Sitemap</a></li>
									<li><a href="about-1.html">Knowledgebase</a></li>
									<li><a href="about-1.html">About us</a></li>
								</ul>
							</div>
						</div>
						<!-- COLUMNS 3 -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="aon-widget-link f-margin f-top-margin">
								<h4 class="aon-f-title-2">Resources</h4>
								<ul class="aon-widget-foo-list-2">
									<li><a href="about-1.html">Pramotion</a></li>
									<li><a href="contact.html">Submit Content</a></li>
									<li><a href="destination.html">Resources</a></li>
									<li><a href="about-1.html">Design System</a></li>
								</ul>
							</div>
						</div>

						<!-- COLUMNS 4 -->
						<div class="col-lg-3 col-md-6">
							<div class="aon-ftr-info-wrap  f-margin f-top-margin">
								<ul class="aon-ftr-info">
									<li>
										<h4 class="aon-f-title-2">Location</h4>
										<p>Macca Surgica, Melbourne, Australi.</p>
									</li>
									<li>
										<h4 class="aon-f-title-2">Email</h4>
										<p>info.tranel@gmail.com</p>
									</li>
									<li>
										<h4 class="aon-f-title-2">Phone</h4>
										<a href="tel:+66 (555 999 222)" style="color:#706C83">+66 (555 999 222)</a>
									</li>
									<li>
										<h4 class="aon-f-title-2">Website</h4>
										<p class="hilite">info@tranel.com</p>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- FOOTER COPYRIGHT -->
			<div class="footer-bottom">
				<div class="container">
					<div class="aon-footer-bottom-area-2 gradi-1">
						<div class="aon-footer-bottom-links">
							<ul class="list-unstyled">
								<li><a href="about-1.html">Terms & Conditions</a></li>
								<li><a href="about-1.html">Privacy Policy</a></li>
								<li><a href="about-1.html">Sitemap</a></li>
								<li><a href="about-1.html">Support</a></li>
							</ul>
						</div>
						<div class="aon-foo-copyright-2">
							©  2022 Tours by <a href="Http://www.bootstrapmb.com">bootstrapMB</a> All rights reserved.
						</div>
					</div>
				</div>   
			</div>
			
			<!-- Footer Vverlay -->
			<div class="footer-overlay"></div>
	
		</footer>
		<!-- FOOTER END -->
        
        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>	
        		

 	</div>

    
    
<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="js/jquery-3.6.1.min.js"></script><!-- JQUERY.MIN JS -->
<script  src="js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script  src="js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="js/wow.js"></script><!-- WOW JS -->
<script  src="js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script  src="js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="js/isotope.pkgd.min.js"></script><!-- isotope-pkgd JS -->	
<script  src="js/imagesloaded.pkgd.js"></script><!-- isotope-pkgd JS -->		
<script  src="js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script  src="js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script  src="js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
<script  src="js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script  src="js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script  src="js/datepicker.min.js"></script><!-- DATE PICKER  -->		
<script  src="js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->
<script  src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->

	
</body>

</html>




