@charset "utf-8"; /*! variflight 最后发布于： 2018-02-05 */
html {
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block
}

body, button, input, select, textarea {
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53"
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

iframe {
    display: block
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

i {
    font-style: normal
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #000
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 16px
}

h3, h4, h5, h6 {
    font-size: 14px
}

q:after, q:before {
    content: ''
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a, ins {
    text-decoration: none
}

.y-lnk, .y-lnk-gray, .y-lnk-highlight, a {
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s
}

a, a:hover, a:link, a:visited {
    color: #666
}

.header_wrap {
    border-bottom: 1px solid #e5e5e5;
    width: 100%
}

.header {
    width: 1200px;
    display: table;
    margin: 0 auto
}

.lnk-gray:hover, .lnk-highlight:hover, .lnk:hover, a:hover {
    text-decoration: underline
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clear {
    zoom: 1
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

body .fn-hide {
    display: none
}

.align-right {
    text-align: right !important
}

.align-left {
    text-align: left !important
}

.align-center {
    text-align: center !important
}

.left, .right {
    display: inline
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.hide {
    display: none !important
}

.f-row {
    min-width: 1000px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1
}

.f-row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.f-row-edge {
    padding-left: 10px;
    padding-right: 10px
}

.f-row .f-span1, .f-row .f-span10, .f-row .f-span11, .f-row .f-span12, .f-row .f-span2, .f-row .f-span3, .f-row .f-span4, .f-row .f-span5, .f-row .f-span6, .f-row .f-span7, .f-row .f-span8, .f-row .f-span9 {
    float: left;
    display: inline;
    margin-right: 2%
}

.y-row .y-span1 {
    width: 6.5%
}

.y-row .y-span2 {
    width: 15%
}

.y-row .y-span3 {
    width: 23.5%
}

.y-row .y-span4 {
    width: 32%
}

.y-row .y-span5 {
    width: 40.5%
}

.y-row .y-span6 {
    width: 49%
}

.y-row .y-span7 {
    width: 57.5%
}

.y-row .y-span8 {
    width: 66%
}

.y-row .y-span9 {
    width: 74.5%
}

.y-row .y-span10 {
    width: 83%
}

.y-row .y-span11 {
    width: 91.5%
}

.y-row .y-span12 {
    width: 100%
}

.y-row .y-last {
    margin-right: 0 !important
}

.y-btn-anti, .y-btn-blue, .y-btn-grey, .y-btn-trans, .y-btn-white, a.y-btn-anti, a.y-btn-blue, a.y-btn-trans, a.y-btn-white {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s
}

.y-btn-anti, .y-btn-blue, .y-btn-trans, .y-btn-white {
    display: inline-block;
    min-width: 140px;
    height: 55px;
    padding: 0 30px 1px;
    background: #2088c2;
    border: 1px solid #00a2ca;
    line-height: 32px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    outline: 0;
    cursor: pointer;
    border-radius: 0
}

.y-btn-grey {
    border: none;
    color: #fff;
    background-color: #383c4c
}

.y-btn-greyL {
    border: 1px solid #fff;
    background-color: #3d86e5
}

.y-btn-blue:hover, .y-btn-white:hover {
    background: #33b5d4;
    border-color: #33b5d4
}

.y-btn-blue:active, .y-btn-white:active {
    background: #008fb2;
    border-color: #008fb2
}

.y-btn-white {
    background: #fff;
    border-color: #00a2ca;
    color: #00a2ca
}

.y-btn-white:active, .y-btn-white:hover {
    color: #fff
}

.y-btn-anti {
    background: #fff;
    border-color: #fff;
    color: #00a2ca
}

.y-btn-anti:hover {
    background: #9cddf5;
    border-color: #9cddf5
}

.y-btn-anti:active {
    background: #5acbeb;
    border-color: #5acbeb;
    color: #fff
}

.y-btn-trans {
    background: 0 0;
    border-color: #fff;
    color: #fff
}

.y-btn-trans:hover {
    background: #fff;
    color: #000
}

.y-btn-trans:active {
    background: #e7e7e7;
    border-color: #e7e7e7
}

.y-btn-anti.y-btn-l, .y-btn-blue.y-btn-l, .y-btn-trans.y-btn-l, .y-btn-white.y-btn-l {
    min-width: 180px;
    height: 42px;
    padding: 0 40px;
    line-height: 38px;
    font-size: 18px
}

.y-btn-anti.y-btn-s, .y-btn-blue.y-btn-s, .y-btn-trans.y-btn-s, .y-btn-white.y-btn-s {
    min-width: 100px;
    height: 26px;
    padding: 0 20px;
    line-height: 20px;
    font-size: 12px
}

.y-btn-blue.y-btn-disabled, .y-btn-blue:active.y-btn-disabled, .y-btn-blue:hover.y-btn-disabled, .y-btn-white.y-btn-disabled, .y-btn-white:active.y-btn-disabled, .y-btn-white:hover.y-btn-disabled {
    background: #efefef;
    border-color: #efefef;
    color: #ccc;
    cursor: default
}

.y-btn-anti.y-btn-disabled, .y-btn-anti:active.y-btn-disabled, .y-btn-anti:hover.y-btn-disabled, .y-btn-trans.y-btn-disabled, .y-btn-trans:active.y-btn-disabled, .y-btn-trans:hover.y-btn-disabled {
    background: #c4c4c4;
    border-color: #c4c4c4;
    color: #8d8d8d;
    cursor: default
}

a.y-btn-anti, a.y-btn-anti:link, a.y-btn-anti:visited, a.y-btn-blue, a.y-btn-blue:link, a.y-btn-blue:visited, a.y-btn-trans, a.y-btn-trans:link, a.y-btn-trans:visited, a.y-btn-white, a.y-btn-white:link, a.y-btn-white:visited {
    display: inline-block;
    min-width: 78px;
    height: 33px;
    padding: 0 30px 1px;
    background: #00a2ca;
    line-height: 33px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    outline: 0;
    border-radius: 0
}

a.y-btn-blue:hover {
    background: #33b5d4;
    border-color: #33b5d4;
    text-decoration: none
}

a.y-btn-blue:active {
    background: #008fb2;
    border-color: #008fb2
}

a.y-btn-white, a.y-btn-white:link, a.y-btn-white:visited {
    background: #fff;
    border-color: #00a2ca;
    color: #00a2ca
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.header .link a {
    top: 0;
    width: 156px;
    height: 50px;
    display: inline-block
}

.header .logo {
    margin-top: 15px
}

.header .logo a {
    left: 0
}

.header .activity-url a {
    right: 0
}

.header .item {
    height: 68px
}

.header .pr {
    position: relative
}

.header .activity {
    width: 268px;
    position: relative
}

.header .topMenu {
    padding: 20px 0;
    height: 80px
}

.myfeeyo_log {
    padding-top: 8px
}

.myfeeyo_log li {
    float: left;
    line-height: 62px
}

.myfeeyo_log li .usercenter_in, .myfeeyo_log li a {
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 3px
}

.myfeeyo_log li.userLogin {
    margin-left: 20px
}

.myfeeyo_log li.english_link:hover a {
    color: #2088c2
}

.usercenter_m {
    position: relative;
    z-index: 99
}

.myfeeyo_log .runOld a, .myfeeyo_log li .usercenter_in {
    color: #000;
    cursor: pointer
}

.loginRegPanel a:hover, .runOld a:hover {
    text-decoration: none
}

.myfeeyo_log li .usercenter_in:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    position: absolute;
    right: -6px;
    top: 28px
}

.myfeeyo_log .userLogin a {
    background-color: #1e90ff
}

.myfeeyo_log .userLogin a, .myfeeyo_log .userReg a {
    color: #fff
}

.myfeeyo_log .userLogin a.usercenter_in:hover {
    color: #2088c2 !important;
    text-decoration: none
}

.myfeeyo_log li .usercenter_in:hover, .runOld a:hover {
    color: #2088c2
}

.usercenter_m .menu-dropdown-inner {
    background: url(../img/ietext.png) no-repeat;
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 86px;
    height: auto;
    padding: 8px 4px 0
}

.usercenter_m .menu-dropdown-inner p {
    border-top: 1px #ececec solid
}

.usercenter_m .menu-dropdown-inner p:first-child {
    border-top: 0
}

.usercenter_m .menu-dropdown-inner p, .usercenter_m .menu-dropdown-inner p a {
    padding: 0;
    margin: 0;
    line-height: 39px;
    text-align: center
}

.usercenter_m .menu-dropdown-inner p a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #000
}

.usercenter_m .menu-dropdown-inner p a:hover {
    text-decoration: none;
    background-color: #1e90ff;
    color: #fff
}

.header .menu {
    font-size: 16px;
    line-height: 65px;
    margin-left: 50px;
    padding-right: 20px;
    padding-top: 8px
}

.header .menu li.top-menu-item {
    position: relative;
    cursor: default;
    float: left;
    z-index: 9998;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s
}

.header .menu li.top-menu-item .menu-hd {
    display: inline-block;
    padding-right: 20px;
    color: #666;
    text-decoration: none
}

.header .menu li.top-menu-item .menu-hd span {
    padding: 10px;
    font-size: 16px;
    color: #222
}

.header .menu li.top-menu-item .menu-hd-notlink {
    cursor: default
}

.header .menu li.top-menu-curr .menu-hd span, .header .menu li.top-menu-item:hover .menu-hd span {
    color: #2088c2
}

.header .menu li.top-menu-item a.top-menu-item-link:link, .header .menu li.top-menu-item a.top-menu-item-link:visited {
    color: #fff;
    text-decoration: none
}

.header .menu li.top-menu-noclick .menu-hd {
    cursor: default
}

.header .menu li.top-menu-noclick .menu-hd:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #666;
    position: absolute;
    right: 10px;
    top: 28px
}

.header .search {
    width: 192px;
    height: 32px;
    margin-top: 15px;
    background: #008ab0;
    position: relative
}

.header .search-key {
    width: 155px;
    height: 32px;
    line-height: 32px;
    padding-left: 5px;
    background: 0 0;
    border: none;
    color: #7ed1e8;
    outline: 0;
    font-size: 14px
}

.header .search-submit {
    color: #fff;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')
}

.header .menu-dropdown {
    position: absolute;
    top: 56px;
    left: 0;
    line-height: 18px;
    z-index: 9999;
    display: none;
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
    border-radius: 6px;
    overflow: hidden;
    min-width: 100%;
    background-color: rgba(255, 255, 255, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2ffffff, endColorstr=#B2ffffff)
}

.header .menu-dropdown .menu-dropdown-inner {
    overflow: hidden;
    display: table;
    width: 100%
}

.header .animate {
    display: block
}

.header .menu-dropdown .menu-dropdown-inner p a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 16px;
    color: #000
}

.header .menu-dropdown .menu-dropdown-inner p a:hover {
    text-decoration: none;
    background-color: #1e90ff;
    color: #fff
}

.footer {
    width: 100%;
    background-color: #212224;
    padding: 30px 0;
    text-align: center;
    color: #999;
    line-height: 25px;
    z-index: 0
}

.footer p.copy {
    color: #666
}

.footer .f_t {
    font-size: 15px;
    margin: 10px 0 20px
}

.footer p {
    margin-bottom: 10px;
    font-size: 14px
}

.footer p:last-child {
    margin-bottom: 0
}

.footer .f_t, .footer .f_t a {
    color: #1e90ff
}

.footer .f_t a {
    margin: 0 10px;
    font-weight: 700
}

.footer .f_t a:hover {
    color: #ccc;
    text-decoration: none
}

.footer .f_t em {
    margin: 0 10px
}

.footerCodeBg {
    background-color: #000;
    height: 225px;
    margin: 0;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    z-index: 98
}

.footerCode {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99
}

.footerCode .box {
    width: 1014px;
    margin: 0 auto;
    padding: 15px 0 8px;
    position: relative
}

.footerCode .imgBox {
    float: left;
    padding-top: 15px
}

.footerCode .con {
    float: left;
    padding: 38px 0 0 32px
}

.footerCode .con p {
    color: #fff;
    font-size: 26px;
    line-height: 36px
}

.footerCode .con label {
    color: #83be50;
    padding-left: 16px
}

.footerCode .code {
    float: right;
    width: 244px;
    text-align: center
}

.footerCode .code .zj {
    margin: 12px auto 0
}

.footerCode .close {
    position: absolute;
    right: -70px;
    top: 12px;
    z-index: 100;
    cursor: pointer
}

.red_cor {
    color: #fd0100 !important
}

.gre_cor {
    color: #00a44e !important
}

.blu_cor {
    color: #2a86c7 !important
}

.dye_cor {
    color: #ffbb34 !important
}

.bla_cor {
    color: #000 !important
}

.lchIMG img {
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -5px
}

.lchIMG {
    display: inline-block;
    vertical-align: top
}

.model_box li {
    margin-bottom: 20px;
    border: 1px solid #e4e6e8;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    width: 300px;
    background: #f6f6f6
}

.model_box li.curr {
    border: 1px solid #2088c2
}

.model_box li.error {
    border: 1px solid #f60
}

.model_box li input {
    border: 0;
    height: 45px;
    line-height: 45px;
    width: 288px;
    padding: 0 6px;
    font-size: 16px;
    background-color: #f6f6f6
}

.model_box li.model_password, .model_box li.model_tel {
    position: relative
}

.model_box li.model_tel label {
    font-size: 16px;
    position: absolute;
    left: 3px;
    top: 1px;
    z-index: 2
}

.model_box li.model_tel input {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.model_box li.model_tel input.lch_inp {
    box-sizing: border-box;
    padding-left: 44px
}

.model_box .model_tel .modelcirarr, .model_box li.model_tel .modelcirarr {
    position: absolute;
    right: 0;
    display: block;
    width: 54px;
    padding-right: 20px;
    top: 0;
    font-size: 16px;
    cursor: pointer;
    background: url(../img/modelarrow.png) 50px 21px no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 45px
}

.model_box li.model_msm input {
    width: 160px
}

.model_box li.model_msm button {
    width: 128px;
    height: 35px;
    border: 0;
    vertical-align: 1px;
    background: #2088c2;
    color: #fff;
    font-size: 14px;
    border-radius: 3px
}

.model_box li.model_btn {
    border: 0;
    padding: 0;
    width: 312px
}

.model_box li.model_btn button {
    width: 100%;
    height: 43px;
    line-height: 43px;
    border: 1px solid #2088c2;
    background-color: #2088c2;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.model_box li.model_link {
    border: 0;
    padding: 0;
    width: 312px;
    margin-bottom: 0;
    background: 0 0
}

.model_box li.model_link a {
    color: #2088c2;
    display: inline;
    line-height: 1;
    vertical-align: top
}

.country-container {
    background: #fff;
    border: 1px solid #e8e8e8;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 500;
    display: none
}

.country-container ul {
    overflow-y: scroll;
    color: #4a4c4f;
    background-color: #fff;
    font-size: 14px;
    border-radius: 6px;
    position: relative;
    height: 220px;
    width: 220px
}

.country-container li {
    width: auto;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    margin: 0;
    cursor: pointer;
    border: 0;
    border-bottom: 1px #e4e6e8 solid;
    background: #fff
}

.country-container li:hover {
    background-color: #f6f6f6
}

.country-container .delta-country {
    background: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -6px;
    right: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #e4e6e8;
    z-index: -1
}

.model_password .success, .model_tel .success {
    background: url(../img/su.png) no-repeat;
    height: 40px;
    width: 40px;
    opacity: 0;
    position: absolute;
    right: 80px;
    top: 12px;
    z-index: 10;
    display: none
}

.model_password .warnin, .model_tel .warnin {
    position: absolute;
    right: 10px;
    font-size: 15px;
    max-width: 106px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
    text-align: right;
    z-index: 100;
    color: #f33;
    display: none
}

.user-content-warp {
    max-width: 1098px;
    margin: 0 auto;
    padding: 30px 50px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e3e8ec
}

.user-content-warp .nav-box {
    height: 60px
}

.user-content-warp .nav-box-border {
    border-bottom: 1px solid #f0f0f0
}

.user-content-warp .nav-box .badge {
    background-color: #f63756;
    font-size: 12px;
    color: #fff;
    margin: -4px 0 0 5px
}

.user-content-warp .nav-box li {
    float: left;
    line-height: 58px;
    font-size: 18px;
    color: #bbb;
    padding: 0 25px
}

.message-box blockquote, .message-title {
    font-size: 14px;
    line-height: 24px
}

.user-content-warp .nav-box li a {
    color: #bbb
}

.message-title, .user-content-warp .nav-box li a:hover, .user-content-warp .nav-box li.active a {
    color: #333
}

.user-content-warp .nav-box li.active {
    color: #333;
    border-bottom: 2px solid #3ca5f6
}

.message-box ul li {
    padding: 25px 0;
    border-top: 1px solid #F0F0F0
}

.message-box ul li:last-child {
    border-bottom: 1px solid #F0F0F0
}

.about-us-box .box-item .box-name.active, .about-us-box .t-h4 {
    border-bottom: 1px solid #f0f0f0
}

.promote-warp .qr-box img {
    width: 108px;
    height: 108px;
    float: left
}

.promote-warp .qr-box .app-guide-title {
    line-height: 36px;
    text-align: center
}

.promote-warp .qr-box .app-guide-title span:first-child {
    display: inline-block;
    position: relative;
    margin-top: 17px
}

.about-us-box {
    margin-top: 30px;
    padding-bottom: 30px
}

.about-us-box .about-min-height {
    min-height: 600px
}

.about-us-box p {
    font-size: 14px;
    color: #333;
    line-height: 24px
}

.about-us-box em {
    font-style: normal;
    color: #bbb
}

.about-us-box.renzheng p {
    font-size: 16px;
    line-height: 2
}

.about-us-box p.f1 {
    font-size: 16px;
    line-height: 26px
}

.about-us-box .t-h4 {
    position: relative;
    font-size: 16px;
    height: 35px;
    margin: 30px 0 0;
    line-height: 35px
}

.about-us-box .t-h4:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #3ca5f6;
    left: -15px;
    top: 15px
}

.about-us-box .box-item {
    background: #fafafa;
    padding: 0 15px
}

.about-us-box .box-item .box-name {
    position: relative;
    background: #fafafa;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    margin-top: 30px;
    cursor: pointer
}

.about-us-box .box-item .box-cnt {
    padding: 25px 0;
    display: none
}

.about-us-box .box-item .box-name i {
    position: absolute;
    right: 0
}

.about-us-box .box-item .box-name i:after {
    content: '+';
    font-size: 22px;
    color: #333;
    font-style: normal;
    display: block
}

.about-content-ul, .about-icon, .about-icon-ul, .about-us-video {
    display: inline-block
}

.about-us-box .box-item .box-name.active i:after {
    content: '-'
}

.links-img-ul, .links-txt-ul {
    margin-top: 20px
}

.links-img-ul li {
    width: 101px;
    height: 36px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px
}

.links-txt-ul li {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px
}

.about-us-intro {
    width: 440px
}

.about-us-img {
    float: right;
    width: 370px;
    height: 207px
}

.about-us-box .about-us-intro p {
    font-size: 16px
}

.about-us-video li {
    width: 260px;
    height: 146px;
    float: left;
    margin-right: 30px
}

.about-us-video li:last-child {
    margin-right: 0
}

.about-us-intro ul li {
    line-height: 33px;
    font-size: 16px
}

.about-us-qr {
    float: right;
    width: 290px;
    height: 290px
}

.mapMain {
    background: url(../img/banner.jpg) 0/cover no-repeat;
    height: 600px;
    overflow: hidden;
    position: relative;
    z-index: 100
}

.mapBtn {
    position: absolute;
    top: 20px;
    z-index: 101;
    width: 1200px;
    left: 50%;
    margin-left: -600px
}

.mapBtn .maple .mt {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    background: url(../img/itp.png) right 8px no-repeat;
    padding-right: 25px
}

.mapBtn .maple .mc, .mapBtn .maple .mt {
    display: inline-block
}

.mapBtn .maple .mc {
    position: relative;
    cursor: pointer;
    vertical-align: 3px;
    margin-left: 10px
}

.mapBtn .maple .mc .clickmore {
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px dashed;
    vertical-align: 2px;
    margin-left: 5px
}

.mapBtn .maple .mc .mct {
    font-size: 12px;
    text-align: center;
    width: 65px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 22px;
    line-height: 22px;
    margin-left: 10px
}

.mapBtn .maple .mc .mcc {
    position: absolute;
    left: 10px;
    width: 67px;
    top: 25px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px
}

.mapBtn .maple .mc .mcc li {
    font-size: 12px;
    padding: 5px;
    text-align: center
}

.mapBtn .maple .mc .mcc li.active, .mapBtn .maple .mc .mcc li:hover {
    background-color: #59c3f9;
    color: #fff
}

.mapBtn .maple .mc .mcc li:first-child {
    border-radius: 3px 3px 0 0
}

.mapBtn .maple .mc .mcc li:last-child {
    border-radius: 0 0 3px 3px
}

.mapBtn .btn_ul {
    background-color: #1a2746;
    border-radius: 4px;
    width: 100px;
    height: 32px;
    overflow: hidden
}

.mapBtn .btn_ul li {
    float: left;
    width: 50%;
    line-height: 32px;
    color: #6e7991;
    text-align: center;
    cursor: pointer
}

.mapBtn .btn_ul li.curr {
    color: #fff;
    background-color: #4489fe;
    border-radius: 4px
}

.mapbanner {
    background-color: #197cd9
}

.mapbanner ul {
    width: 1200px;
    margin: 0 auto;
    display: table;
    padding: 26px 0
}

.mapbanner ul li {
    display: table-cell;
    text-align: center;
    color: #fff
}

.mapbanner ul li .b, .mapbanner ul li .t {
    font-size: 14px
}

.mapbanner ul li .c {
    font-size: 30px;
    color: #91caff
}

.mapbanner ul li .c span {
    font-size: 48px;
    color: #fff
}

.flightStatistics {
    overflow: hidden;
    background-color: #f0f1f3;
    padding-bottom: 20px
}

.flightStatistics ul.tongji {
    width: 1200px;
    margin: 0 auto
}

.flightStatistics li {
    width: 50%;
    float: left
}

.flightStatistics li .fsli {
    background-color: #fff;
    margin-top: 20px;
    padding: 17px
}

.flightStatistics li:nth-child(odd) .fsli {
    margin-right: 10px
}

.flightStatistics li:nth-child(even) .fsli {
    margin-left: 10px
}

.flightStatistics li .fsli .ti {
    background: url(../img/data.png) left center no-repeat;
    padding-left: 24px;
    color: #0bacfd;
    font-size: 16px;
    margin-bottom: 10px
}

.flightStatistics .ftm, .flightStatistics .ftm ul {
    overflow: hidden
}

.flightStatistics .ftm ul {
    width: 180px
}

.flightStatistics .ftm li {
    display: table;
    width: 100%;
    line-height: 26px
}

.flightStatistics .ftm li p {
    display: table-cell;
    width: 33.33%;
    text-align: center
}

.new_gif {
    position: absolute;
    right: 7px;
    top: -6px
}

.cur_pointer {
    cursor: pointer !important
}

@media screen and (max-width: 1024px) {
    .myfeeyo_log li.userLogin {
        margin-left: -20px
    }
}

.txyzm {
    position: absolute;
    right: 3px;
    top: 4px
}

#selectBox {
    margin-left: 0;
}

#english {
    padding: 0 10px;
    text-decoration: none;
}

#englishSpan {
    padding-right: 20px;
    padding-left: 0px;
    color: #666666;
    font-size: 16px;
}

#russian {
    color: #666666;
}

#spain {
    color: #666666;
}

#englishSpan:hover {
    color: #2088c2
}

#russian:hover, #spain:hover {
    color: #ffffff;
}

#wechatImg {
    display: none;
    position: fixed;
    left: 41.5%;
    bottom: 14%;
}
